.star {
    color: #d3cf00;
    font-size: 22px;
    margin-right: 6px;
}

.row {
    justify-content: center;
}

.pagination {
    width: fit-content !important;
    margin-top: 25px !important;
}

.card {
   transition: all 0.6s ease;
}

.card:hover {
    background-color: #49505728;
    scale: 1.03;
}

.logo {
    display: inline-block;
    background-color: #0dcaf06d;
    padding: 5px;
    margin: 10px;
    border-radius: 5%;
    transition: all 0.7s ease;
}

.logo:hover {
    background-color: #0dcaf0b3;
    scale: 1.1;
}

.logo img {
    width: 150px !important;

}

.card-img-top:hover, .card-title:hover {
    cursor: pointer;
}

.page-item {
    transition: all 0.3s ease;
}

.page-item:hover {
    scale: 0.93;
}